.container {
  position: absolute;
  top: 0;
  width: 75%;
  height: 85%;
  left: 12.5%;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px grey;
}

.container h2 {
  font-size: 3rem;
  margin: 8px;
}

.logo {
  width: 250px;
}

.banner {
  width: 500px;
}
